.cv-header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    margin-bottom: 20px;
}

.cv-header img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 15px;
}

.name-profession-container {
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-profession-container h5 {
    font-size: 10px;
    font-weight: 500;
}
.name-profession-container span{
    display: inline-block;
}
.name-profession-container .name {
    font-size: 12px;
    margin-bottom: 4px;
}

.name-profession-container .profession {
    font-size: 12px;
    color:#5C5C5C;
}

.langs{
    height: 125px;
}
.lang-container{
    height: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 184px;
    align-items: center;

}
.lang-container{
    text-align: start;
}

#lb1, #lb2, #lb3{
    width: 184px;
    border-radius: 3px;
    height: 11px;
    background-color: rgb(40,217,121);
}
#lb2{
    width: 40%;
}
#lb3 {
    width: 10%;
}
